<nav class="navbar navbar-expand-sm navbar-white bg-white">

      <a class="navbar-brand" href="/">
      
        <strong>Weblists</strong>
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Looking For</a>
            <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/housing">Housing</a></li>
                  <li><a class="dropdown-item" href="/jobs">Jobs</a></li>
                  <li><a class="dropdown-item" href="/services">Services</a></li>
                  <li><a class="dropdown-item" href="/forSale">For Sale</a></li>
                  <li><a class="dropdown-item" href="/other">Other</a></li>
            </ul>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
        <hr>
        <a href="/login">
            <button type="button" class="btn btn-outline-success me-1">Login</button>
        </a>
        <a href="/register">
            <button type="button" class="btn btn-warning">Register</button>
        </a>
        <hr>
     
      </div>
  </nav>

    <form class="d-flex">
        <input class="form-control mt-1 mb-5" type="text" placeholder="Search">
    </form>

